* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 4rem;
}

hr {
  margin-bottom: 1rem;
}

input {
  color: grey;
  width: 100%;
  font-size: 1.2rem;
  padding: 0.2em;
}
