@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", Arial, sans-serif;
}

hr {
  margin-bottom: 1rem;
}

.container {
  width: 100%;
  padding: 1rem;
}

.navbar {
  padding: 1rem;
  display: flex;
  align-items: center;

  background-color: hsl(272deg 91% 57%);

  color: white;
}

/* 
  Contenedor para los gifs */
.gifs-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  row-gap: 0.2rem;
}

.card {
  margin: 1rem;
  width: 20rem;
  border-radius: 1rem;
}

.card__body {
  border: 1px solid rgb(71, 71, 71);
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.card .gif {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  height: 100%;
}

/* 
  Formularios  */
.form-group {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}
.form-group input:invalid ~ .control-label {
  font-size: 1rem;
  color: gray;
  top: 0.25rem;
  left: 0;
}
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0;
}

.form-group input {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}
.form-group input:focus {
  outline: none;
  color: #333;
}
.form-group input:focus ~ .control-label {
  color: #337ab7;
}

.form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
}
.form-group .bar::before {
  content: "";
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #337ab7;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}
.form-group input:focus ~ .bar::before {
  width: 100%;
  left: 0;
}
